#include <windows.h>
#include <commctrl.h>
#include "src/resource.h"

IDD_SETTINGS DIALOGEX 0, 0, 300, 294
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION L"\x62FC\x97F3\x58F0\x8C03\x8F93\x5165\x6CD5\x8BBE\x7F6E"
FONT 9, L"Segoe UI"
BEGIN
    LTEXT           L"\x7F29\x653E\x6BD4\x4F8B:", -1, 14, 14, 50, 12
    CONTROL         L"", IDC_SCALE_TRACKBAR, TRACKBAR_CLASS, TBS_BOTH | TBS_NOTICKS | WS_TABSTOP, 70, 12, 160, 20
    LTEXT           L"1.0x", IDC_SCALE_LABEL, 236, 14, 40, 12

    LTEXT           L"\x5B57\x4F53\x5927\x5C0F:", -1, 14, 44, 50, 12
    CONTROL         L"", IDC_FONT_TRACKBAR, TRACKBAR_CLASS, TBS_BOTH | TBS_NOTICKS | WS_TABSTOP, 70, 42, 160, 20
    LTEXT           L"13px", IDC_FONT_LABEL, 236, 44, 40, 12

    GROUPBOX        L"\x4E3B\x9898", -1, 14, 74, 270, 42
    CONTROL         L"\x8DDF\x968F\x7CFB\x7EDF", IDC_THEME_SYSTEM, L"Button", BS_AUTORADIOBUTTON | WS_TABSTOP, 24, 90, 70, 12
    CONTROL         L"\x6D45\x8272", IDC_THEME_LIGHT, L"Button", BS_AUTORADIOBUTTON, 110, 90, 40, 12
    CONTROL         L"\x6DF1\x8272", IDC_THEME_DARK, L"Button", BS_AUTORADIOBUTTON, 166, 90, 40, 12

    GROUPBOX        L"\x8F93\x5165", -1, 14, 124, 270, 38
    CONTROL         L"\x591A\x97F3\x8282\x4E0A\x5C4F\x65F6\x81EA\x52A8\x63D2\x5165\x7A7A\x683C", IDC_INSERT_SPACES, L"Button", BS_AUTOCHECKBOX | WS_TABSTOP, 24, 140, 236, 12

    GROUPBOX        L"\x9884\x89C8", -1, 14, 170, 270, 80
    CONTROL         L"", IDC_PREVIEW, L"Static", SS_OWNERDRAW, 22, 184, 254, 58

    PUSHBUTTON      L"\x4FDD\x5B58", IDC_BTN_SAVE, 150, 254, 60, 24
    PUSHBUTTON      L"\x6062\x590D\x9ED8\x8BA4", IDC_BTN_RESET, 216, 254, 60, 24
END
